html {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 130%;
  max-width: 1000px;
}

img {
  max-width: 600px;
}

#how-to-cont {
  display: flex;
}
